services:
  vpn_bot:
    image: projecteurlumiere/vpn_distributor_bot:latest
    container_name: vpn_distributor
    restart: unless-stopped
    volumes:
      - ./tmp:/bot/tmp
      - ./data:/bot/data
      - ./db:/bot/db/storage
    environment:
      - ENV=<production|development>
      - TELEGRAM_TOKEN=<your Telegram bot token>
      - ADMIN_CHAT_ID=<your admin chat id; if not specified, bot will report chat id of the group chat>
      - ADMIN_IDS=<admin account IDs separated with comma>
